doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title zoom clone
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
  body 
    header 
      h1 zoom clone
    main
      div#myStream
        video#myFace(autoplay, playsinline, width="400", height="400") 
        button#mute Mute
        button#camera Turn Camera off
      //- playsinline은 모바일 환경에서 전체화면으로 영상 실행안되게 하는 프로퍼티이다.
    script(src="/socket.io/socket.io.js")
    script(src="/public/js/app.js")
